* {
    margin:0;
    padding: 0;
}


body {
    background-color: black;
    color: rgb(85, 249, 240);
    font-family: "Audiowide", sans-serif;
    font-size:  18px;;
}

header {
    position: relative;
    width: 100%;
    height : 12rem;
    background-image: url("LinkedIn Banner.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 1.5rem;
}
h1 {
    position: absolute;
    top: 13rem;
    left: 15%;
    font-family: "Bruno Ace", sans-serif;
}
h2 {
    font-family: "Bruno Ace", sans-serif;
    margin: 1rem;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5rem;
}
section {
    margin: 2rem;
}
img, p {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: white;
    margin: 1rem;
}
a:hover {
    color: chocolate;
}
span {
    font-style: italic;
}
#JeuCV {
    width : 33rem;
    background: linear-gradient(to top, #4286f4, #373B44);
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
}
#Chifoumi {
    width : 33rem;
    background: linear-gradient(to bottom right, #a8c0ff, #3f2b96);
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
}
#SocialNetwork {
    width : 33rem;
    background: linear-gradient(to bottom left, #0f0c29, #302b63, #24243e);
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
}
ul li {
    margin-left: 1.2rem;
    list-style-position: inside;
}
footer {
    font-family: "Bruno Ace", sans-serif;
}

@media screen and (max-width: 670px){
    header {
        background-size: contain;
        /* height: 5rem;
        margin: 1rem; */
    }
    h1 {
        font-size: 2.5rem;
        top : 1rem;
        left: 5%;
        text-align: center;
    }
    body {
        font-size: 16px;
    }
    img {
        width: 90%;
    }
   
}

@media screen and (max-width: 912px){
    header {
        background-size: contain;
        /* height: 5rem;
        margin: 1rem; */
    }
    h1 {
        font-size: 2.5rem;
        top: 10rem;
        left: 5%;
    }
}